<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="#/cluster/hdfs">HDFS</a></li>
                        <li><a href="#/cluster/mrv1">MRv1</a></li>
                        <li><a href="#/cluster/yarn">YARN</a></li>
                        <li><a href="#/cluster/sparkonyarn">Spark</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span11">
            <h3><a href="http://jt1dg.prod.mediav.com:50030/" target="_blank">MRv1</a></h3>
            <div class="row-fluid">
                <div id="mrv1_nodes" class="span3"></div>
            </div>
        </div>
    </div>
</div>

<script>
    var wnd;
    $(document).ready(function () {
        $("#mrv1_nodes").kendoChart({
            dataSource: {
                transport: {
                    read: {
                        url: "/rest/mrv1/nodes",
                        dataType: "json"
                    }
                }
            },
            chartArea: {
                width: 350,
                height: 350
            },
            title: {
                text: "MRv1 Cluster Nodes"
            },
            legend: {
                position: "bottom"
            },
            seriesDefaults: {
                type: "pie",
                labels: {
                    template: "#= category # - #= kendo.format('{0:P}', percentage)#",
                    position: "outsideEnd",
                    visible: true,
                    background: "transparent"
                }
            },
            series: [{
                field: "value",
                categoryField: "category",
                padding: 0
            }],
            seriesColors: ["lightgreen", "orange"],
            tooltip: {
                visible: true,
                template: "#= category # - #= value # - #= kendo.format('{0:P}', percentage) #"
            }
        });
    });
</script>
