<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="#/mrv1job/overview">Overview</a></li>
                        <li><a href="#/mrv1job/today">Today</a></li>
                        <li><a href="#/mrv1job/last2weeks">2Weeks</a></li>
                        <li><a href="#/mrv1job/evil">EvilJobs</a></li>
                        <li><a href="#/mrv1job/failed">Failed</a></li>
                        <li><a href="#/mrv1job/longrunning">LongRunning</a></li>
                        <li><a href="#/mrv1job/timeline">Timeline</a></li>
                        <li><a href="#/mrv1job/jobconf">Job Conf</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span11">
            <form class="form-inline">
                <label for="start">Start: </label><input id="start" style="width: 220px"/>
                <label for="end">End: </label><input id="end" style="width: 220px"/>
                <label for="user">User : </label><input id="user" type="text" class="input-mini" placeholder="User">
                <label for="jobname">Job Name : </label><input id="jobname" type="text" class="input-medium" placeholder="support fuzzy query">
                <label for="jobqueue">Job Queue : </label>
                <select id="jobqueue" class="input-small">
                    <option value="">--queue--</option>
                    <option>adhoc</option>
                    <option>default</option>
                    <option>machinelearning</option>
                    <option>putindb</option>
                </select>
                <label for="jobstatus">Job Status : </label>
                <select id="jobstatus" class="input-small">
                    <option value="">--status--</option>
                    <option>SUCCESS</option>
                    <option>FAILED</option>
                    <option>KILLED</option>
                </select>

                <button class="submitButton k-button" id="submit">Submit</button>
            </form>
            <div id="mrv1jobtimeline"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        function startChange() {
            var startDate = start.value(),
                    endDate = end.value();
        }

        function endChange() {
            var endDate = end.value(),
                    startDate = start.value();
        }

        var today = kendo.date.today();

        var now = new Date();
        var day = now.getDate();
        var month = now.getMonth();
        var year = now.getFullYear();
        var hour = now.getHours();

        var onehourago = new Date(year, month, day, hour-1);

        var start = $("#start").kendoDateTimePicker({
            value: onehourago,
            change: startChange
        }).data("kendoDateTimePicker");

        var end = $("#end").kendoDateTimePicker({
            value: now,
            change: endChange
        }).data("kendoDateTimePicker");

//        start.max(end.value());
//        end.min(start.value());

        $("#submit").click(submit);

        var starttime = kendo.toString(start.value(), "yyyyMMddHHmmss");
        var endtime = kendo.toString(end.value(), "yyyyMMddHHmmss");



        function submit(e) {
            starttime = kendo.toString(start.value(), "yyyyMMddHHmmss");
            endtime = kendo.toString(end.value(), "yyyyMMddHHmmss");
            var user = $("#user").val();
            var jobname = $("#jobname").val();
            var jobqueue = $("#jobqueue").val();
            var jobstatus = $("#jobstatus").val();
            tasksDataSource.transport.options.read.url = serviceRoot + "?starttime=" + starttime + "&endtime=" + endtime + "&user=" + user + "&jobname=" + jobname + "&jobqueue="+jobqueue + "&jobstatus="+jobstatus;
            tasksDataSource.read();
        }


        var serviceRoot = "/rest/mrv1job/gantt";
        var tasksDataSource = new kendo.data.GanttDataSource({
            transport: {
                read: serviceRoot + "?starttime=" + starttime + "&endtime=" + endtime
            },
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: { from: "id", type: "string" },
                        orderId: { from: "orderID", type: "number", validation: { required: true } },
                        parentId: { from: "parentID", type: "string", defaultValue: null, validation: { required: true } },
                        start: { type: "date",
                            parse: function (value) {
                                return kendo.toString(new Date(value));
                            }
                        },
                        end: { type: "date",
                            parse: function (value) {
                                return kendo.toString(new Date(value));
                            }
                        },
                        title: { from: "title", defaultValue: "", type: "string" },
                        percentComplete: { from: "percentComplete", type: "number" },
                        summary: { from: "summary", type: "boolean" },
                        expanded: { from: "expanded", type: "boolean", defaultValue: true }
                    }
                }
            },
            sort: { field: "start", dir: "asc" }

        });

        $("#mrv1jobtimeline").kendoGantt({
            dataSource: tasksDataSource,
//                dependencies: dependenciesDataSource,
            views: [
                { type: "day", selected: true},
                { type: "week" },
                { type: "month" }
            ],
            columns: [
                { field: "id", title: "ID", width: 200, sortable: true, resizable: true },
                { field: "title", title: "Title", width: 200, sortable: true },
                { field: "start", title: "Start Time", format: "{0:yyyy/MM/dd HH:mm:ss}", width: 180, sortable: true },
                { field: "end", title: "End Time", format: "{0:yyyy/MM/dd HH:mm:ss}", width: 180, sortable: true }
            ],
            listWidth: 750,
            height: 600,

            showWorkHours: false,
            showWorkDays: false,
            snap: false,
            navigatable: true,

            change: onChange
        });

        $(document.body).keydown(function(e) {
            if (e.altKey && e.keyCode == 87) {
                var gantt = $("#gantt").data("kendoGantt");
                gantt.list.content.find("table").focus();
            }
        });
    });

    function onChange(e) {
        var gantt = e.sender;
        var selection = gantt.select();

        if (selection.length) {
            var dataItem = gantt.dataItem(selection);
            window.open("http://jt1dg.prod.mediav.com:50030/jobdetails.jsp?jobid=" + dataItem.id + "&refresh=30", '_blank');
        }
    }
</script>
</div>