<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="#/mrv1job/overview">Overview</a></li>
                        <li><a href="#/mrv1job/today">Today</a></li>
                        <li><a href="#/mrv1job/last2weeks">2Weeks</a></li>
                        <li><a href="#/mrv1job/evil">EvilJobs</a></li>
                        <li><a href="#/mrv1job/failed">Failed</a></li>
                        <li><a href="#/mrv1job/longrunning">LongRunning</a></li>
                        <li><a href="#/mrv1job/timeline">Timeline</a></li>
                        <li><a href="#/mrv1job/jobconf">Job Conf</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span11">
            <form class="form-inline">
                <label for="start">Start: </label><input id="start" style="width: 220px"/>
                <label for="end">End: </label><input id="end" style="width: 220px"/>

                <button class="submitButton k-button" id="submit">Submit</button>
            </form>
            <div id="eviljobs"></div>
        </div>
    </div>
</div>

<script>
    var wnd ;

    $(document).ready(function () {
        function startChange() {
            var startDate = start.value(),
                    endDate = end.value();
        }

        function endChange() {
            var endDate = end.value(),
                    startDate = start.value();
        }

        var today = kendo.date.today();

        var now = new Date();
        var day = now.getDate();
        var month = now.getMonth();
        var year = now.getFullYear();
        var hour = now.getHours();

        var yestory = new Date(year, month, day-1);

        var start = $("#start").kendoDatePicker({
            value: yestory,
            change: startChange
        }).data("kendoDatePicker");

        var end = $("#end").kendoDatePicker({
            value: today,
            change: endChange
        }).data("kendoDatePicker");

        var date = $("#date").kendoDatePicker({
            value: yestory,
            change: endChange
        }).data("kendoDatePicker");


        $("#submit").click(refreshGrid);

        var startDate = kendo.toString(start.value(), "yyyy-MM-dd");
        var endDate = kendo.toString(end.value(), "yyyy-MM-dd");

        function refreshGrid(e) {
            startDate = kendo.toString(start.value(), "yyyy-MM-dd");
            endDate = kendo.toString(end.value(), "yyyy-MM-dd");

            var grid = $("#eviljobs").data("kendoGrid");
            grid.dataSource.transport.options.read.url = serviceRoot + "?start=" + startDate + "&end=" + endDate ;
            grid.dataSource.read();
        }

        var serviceRoot = "/rest/mrv1job/eviljobs";

        $("#eviljobs").kendoGrid({
            dataSource: {
                transport: {
                    read: serviceRoot
                },
                schema: {
                    model: {
                        fields: {
                            submit_time: {
                                type: "date",
                                parse: function (value) {
                                    return kendo.toString(new Date(value), 'u');
                                }
                            },
                            finish_time: {
                                type: "date",
                                parse: function (value) {
                                    return kendo.toString(new Date(value), 'u');
                                }
                            }
                        }
                    }
                },
                pageSize: 20
            },
            height: 600,
//            detailInit: tasksOfJob,
//                dataBound: function() {
//                    this.expandRow(this.tbody.find("tr.k-master-row").first());
//                },
            resizable: true,
            groupable: true,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [
                {
                    field: "jobid",
                    title: "JOBID",
                    width: 220
                },
                {
                    field: "project",
                    title: "Project",
                    width: 100
                },
                {
                    field: "jobname",
                    title: "JobName",
                    width: 250
                },
                {
                    field: "submit_time",
                    title: "SUBMIT_TIME"
                },
                {
                    field: "finish_time",
                    title: "FINISH_TIME"
                },
                {
                    field: "runningtime",
                    title: "RUNNINGTIME",
                    width: 100
                },
                {
                    field: "jhi",
                    width: "JHI"
                },
                {command: { text: "View Details", click: showJobDetails }, title: " ", width: "140px" }
            ]
        });

        function showJobDetails(e){
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            window.open("http://jt1dg.prod.mediav.com:50030/jobdetails.jsp?jobid="+dataItem.jobid+"&refresh=30", '_blank');

        }
    });

</script>

</div>