<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="#/mvdw/overview">Overview</a></li>
                        <li><a href="#/mvdw/ods">ODS</a></li>
                        <li><a href="#/mvdw/session">Session</a></li>
                        <li><a href="#/mvdw/db">DB</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span11">
            <div id="mvdw_intro">
                <div>

                    <h3>Session层数据说明</h3>


                    <ul>
                        <li>cookiesummary输出在：/mvad/warehouse/session/cookiesummary，目录结构如下：</li>
                    </ul>


<pre>/mvad/warehouse/session/cookiesummary/date={YYYY-mm-dd}
</pre>

                    <p>checkpoint 在 /mvad/warehouse/session/cookiesummary/date={YYYY-mm-dd}/_SUCCESS</p>

                    <b>Schema如下：</b>
                    <pre>
root
 |-- normal_cookie: string (nullable = true)
 |-- birthday: long (nullable = true)
 |-- impressionCount: integer (nullable = true)
 |-- viewCount: integer (nullable = true)
 |-- clickCount: integer (nullable = true)
 |-- orderCount: integer (nullable = true)
 |-- fraud: string (nullable = true)
 |-- multiIPAddr: integer (nullable = true)
 |-- multiLocation: integer (nullable = true)
 |-- multiISP: integer (nullable = true)
 |-- bornToday: integer (nullable = true)
 |-- mobileDevice: integer (nullable = true)
 |-- multiBrowser: integer (nullable = true)
 |-- whiteList: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- whiteList_tuple: string (nullable = true)
 |-- multiIDC: integer (nullable = true)
 |-- blackList: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- blackList_tuple: string (nullable = true)
 |-- logDate: long (nullable = true)
 |-- reasonsToMarkSuspiciousOrFraud: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- reasonsToMarkSuspiciousOrFraud_tuple: string (nullable = true)
 |-- date: string (nullable = true)
                    </pre>
                    <ul>
                        <li>cookieevents输出在：/mvad/warehouse/session/dspan，目录结构如下：</li>
                    </ul>


<pre>/mvad/warehouse/session/dspan/date={YYYY-mm-dd}
</pre>

                    <p>checkpoint 在 /mvad/warehouse/session/dspan/date={YYYY-mm-dd}/_SUCCESS</p>

                    <b>Schema如下：</b>
<pre>
root
 |-- cookie: array (nullable = false)
 |    |-- element: integer (containsNull = false)
 |-- eventTime: long (nullable = false)
 |-- eventType: integer (nullable = false)
 |-- publisherId: integer (nullable = true)
 |-- channelId: integer (nullable = true)
 |-- adspaceId: integer (nullable = true)
 |-- advertiserId: integer (nullable = true)
 |-- campaignId: integer (nullable = true)
 |-- solutionId: integer (nullable = true)
 |-- bannerId: integer (nullable = true)
 |-- clickId: long (nullable = true)
 |-- ip: array (nullable = true)
 |    |-- element: integer (containsNull = false)
 |-- ipv6: boolean (nullable = true)
 |-- rawIP: array (nullable = true)
 |    |-- element: integer (containsNull = false)
 |-- proxy: array (nullable = true)
 |    |-- element: array (containsNull = false)
 |    |    |-- element: integer (containsNull = false)
 |-- referrerUrl: string (nullable = true)
 |-- geoInfo: struct (nullable = true)
 |    |-- country: integer (nullable = true)
 |    |-- province: integer (nullable = true)
 |    |-- city: integer (nullable = true)
 |    |-- county: integer (nullable = true)
 |-- isp: string (nullable = true)
 |-- staticFields: map (nullable = true)
 |    |-- key: integer
 |    |-- value: string (valueContainsNull = true)
 |-- userAgent: string (nullable = true)
 |-- acceptLanguage: string (nullable = true)
 |-- language: string (nullable = true)
 |-- responseTime: integer (nullable = true)
 |-- rawString: string (nullable = true)
 |-- browser: string (nullable = true)
 |-- os: string (nullable = true)
 |-- adspaceWidth: integer (nullable = true)
 |-- adspaceHeight: integer (nullable = true)
 |-- creativeType: integer (nullable = true)
 |-- showType: string (nullable = true)
 |-- servingDB: string (nullable = true)
 |-- hotzoneWidth: integer (nullable = true)
 |-- hotzoneHeight: integer (nullable = true)
 |-- meta: string (nullable = true)
 |-- advertiserUrl: string (nullable = true)
 |-- pageNo: integer (nullable = true)
 |-- adServer: string (nullable = true)
 |-- trackInfo: struct (nullable = true)
 |    |-- transactionType: string (nullable = true)
 |    |-- advertiserSiteId: string (nullable = true)
 |    |-- container: struct (nullable = true)
 |    |    |-- rawString: string (nullable = false)
 |    |    |-- visitor: struct (nullable = true)
 |    |    |    |-- domainHash: string (nullable = true)
 |    |    |    |-- visitorID: string (nullable = true)
 |    |    |    |-- visitorCreatedTime: long (nullable = true)
 |    |    |    |-- startTimeOfLastSession: long (nullable = true)
 |    |    |    |-- startTimeOfCurrentSession: long (nullable = true)
 |    |    |    |-- sessionCount: integer (nullable = true)
 |    |    |-- referralSource: struct (nullable = true)
 |    |    |    |-- domainHash: string (nullable = true)
 |    |    |    |-- timeOfFirstArrival: long (nullable = true)
 |    |    |    |-- timeOfLastArrival: long (nullable = true)
 |    |    |    |-- count: integer (nullable = true)
 |    |    |    |-- firstCampaign: struct (nullable = true)
 |    |    |    |    |-- source: struct (nullable = true)
 |    |    |    |    |    |-- domainName: string (nullable = true)
 |    |    |    |    |    |-- engineName: string (nullable = true)
 |    |    |    |    |    |-- mvsrc: struct (nullable = true)
 |    |    |    |    |    |    |-- publisherId: integer (nullable = true)
 |    |    |    |    |    |    |-- channelId: integer (nullable = true)
 |    |    |    |    |    |    |-- adspaceId: integer (nullable = true)
 |    |    |    |    |    |-- zString: string (nullable = true)
 |    |    |    |    |-- content_term: struct (nullable = true)
 |    |    |    |    |    |-- referrerUrl: string (nullable = true)
 |    |    |    |    |    |-- keyword: string (nullable = true)
 |    |    |    |    |    |-- mvcam: struct (nullable = true)
 |    |    |    |    |    |    |-- advertiserId: integer (nullable = true)
 |    |    |    |    |    |    |-- campaignId: integer (nullable = true)
 |    |    |    |    |    |    |-- solutionId: integer (nullable = true)
 |    |    |    |    |    |    |-- bannerId: integer (nullable = true)
 |    |    |    |    |    |    |-- clickId: long (nullable = true)
 |    |    |    |    |    |    |-- zString: string (nullable = true)
 |    |    |    |-- lastCampaign: struct (nullable = true)
 |    |    |    |    |-- source: struct (nullable = true)
 |    |    |    |    |    |-- domainName: string (nullable = true)
 |    |    |    |    |    |-- engineName: string (nullable = true)
 |    |    |    |    |    |-- mvsrc: struct (nullable = true)
 |    |    |    |    |    |    |-- publisherId: integer (nullable = true)
 |    |    |    |    |    |    |-- channelId: integer (nullable = true)
 |    |    |    |    |    |    |-- adspaceId: integer (nullable = true)
 |    |    |    |    |    |-- zString: string (nullable = true)
 |    |    |    |    |-- content_term: struct (nullable = true)
 |    |    |    |    |    |-- referrerUrl: string (nullable = true)
 |    |    |    |    |    |-- keyword: string (nullable = true)
 |    |    |    |    |    |-- mvcam: struct (nullable = true)
 |    |    |    |    |    |    |-- advertiserId: integer (nullable = true)
 |    |    |    |    |    |    |-- campaignId: integer (nullable = true)
 |    |    |    |    |    |    |-- solutionId: integer (nullable = true)
 |    |    |    |    |    |    |-- bannerId: integer (nullable = true)
 |    |    |    |    |    |    |-- clickId: long (nullable = true)
 |    |    |    |    |    |    |-- zString: string (nullable = true)
 |    |    |-- searchSource: struct (nullable = true)
 |    |    |    |-- domainHash: string (nullable = true)
 |    |    |    |-- timeOfFirstArrival: long (nullable = true)
 |    |    |    |-- timeOfLastArrival: long (nullable = true)
 |    |    |    |-- count: integer (nullable = true)
 |    |    |    |-- firstCampaign: struct (nullable = true)
 |    |    |    |    |-- source: struct (nullable = true)
 |    |    |    |    |    |-- domainName: string (nullable = true)
 |    |    |    |    |    |-- engineName: string (nullable = true)
 |    |    |    |    |    |-- mvsrc: struct (nullable = true)
 |    |    |    |    |    |    |-- publisherId: integer (nullable = true)
 |    |    |    |    |    |    |-- channelId: integer (nullable = true)
 |    |    |    |    |    |    |-- adspaceId: integer (nullable = true)
 |    |    |    |    |    |-- zString: string (nullable = true)
 |    |    |    |    |-- content_term: struct (nullable = true)
 |    |    |    |    |    |-- referrerUrl: string (nullable = true)
 |    |    |    |    |    |-- keyword: string (nullable = true)
 |    |    |    |    |    |-- mvcam: struct (nullable = true)
 |    |    |    |    |    |    |-- advertiserId: integer (nullable = true)
 |    |    |    |    |    |    |-- campaignId: integer (nullable = true)
 |    |    |    |    |    |    |-- solutionId: integer (nullable = true)
 |    |    |    |    |    |    |-- bannerId: integer (nullable = true)
 |    |    |    |    |    |    |-- clickId: long (nullable = true)
 |    |    |    |    |    |    |-- zString: string (nullable = true)
 |    |    |    |-- lastCampaign: struct (nullable = true)
 |    |    |    |    |-- source: struct (nullable = true)
 |    |    |    |    |    |-- domainName: string (nullable = true)
 |    |    |    |    |    |-- engineName: string (nullable = true)
 |    |    |    |    |    |-- mvsrc: struct (nullable = true)
 |    |    |    |    |    |    |-- publisherId: integer (nullable = true)
 |    |    |    |    |    |    |-- channelId: integer (nullable = true)
 |    |    |    |    |    |    |-- adspaceId: integer (nullable = true)
 |    |    |    |    |    |-- zString: string (nullable = true)
 |    |    |    |    |-- content_term: struct (nullable = true)
 |    |    |    |    |    |-- referrerUrl: string (nullable = true)
 |    |    |    |    |    |-- keyword: string (nullable = true)
 |    |    |    |    |    |-- mvcam: struct (nullable = true)
 |    |    |    |    |    |    |-- advertiserId: integer (nullable = true)
 |    |    |    |    |    |    |-- campaignId: integer (nullable = true)
 |    |    |    |    |    |    |-- solutionId: integer (nullable = true)
 |    |    |    |    |    |    |-- bannerId: integer (nullable = true)
 |    |    |    |    |    |    |-- clickId: long (nullable = true)
 |    |    |    |    |    |    |-- zString: string (nullable = true)
 |    |    |-- campaignSource: struct (nullable = true)
 |    |    |    |-- domainHash: string (nullable = true)
 |    |    |    |-- timeOfFirstArrival: long (nullable = true)
 |    |    |    |-- timeOfLastArrival: long (nullable = true)
 |    |    |    |-- count: integer (nullable = true)
 |    |    |    |-- firstCampaign: struct (nullable = true)
 |    |    |    |    |-- source: struct (nullable = true)
 |    |    |    |    |    |-- domainName: string (nullable = true)
 |    |    |    |    |    |-- engineName: string (nullable = true)
 |    |    |    |    |    |-- mvsrc: struct (nullable = true)
 |    |    |    |    |    |    |-- publisherId: integer (nullable = true)
 |    |    |    |    |    |    |-- channelId: integer (nullable = true)
 |    |    |    |    |    |    |-- adspaceId: integer (nullable = true)
 |    |    |    |    |    |-- zString: string (nullable = true)
 |    |    |    |    |-- content_term: struct (nullable = true)
 |    |    |    |    |    |-- referrerUrl: string (nullable = true)
 |    |    |    |    |    |-- keyword: string (nullable = true)
 |    |    |    |    |    |-- mvcam: struct (nullable = true)
 |    |    |    |    |    |    |-- advertiserId: integer (nullable = true)
 |    |    |    |    |    |    |-- campaignId: integer (nullable = true)
 |    |    |    |    |    |    |-- solutionId: integer (nullable = true)
 |    |    |    |    |    |    |-- bannerId: integer (nullable = true)
 |    |    |    |    |    |    |-- clickId: long (nullable = true)
 |    |    |    |    |    |    |-- zString: string (nullable = true)
 |    |    |    |-- lastCampaign: struct (nullable = true)
 |    |    |    |    |-- source: struct (nullable = true)
 |    |    |    |    |    |-- domainName: string (nullable = true)
 |    |    |    |    |    |-- engineName: string (nullable = true)
 |    |    |    |    |    |-- mvsrc: struct (nullable = true)
 |    |    |    |    |    |    |-- publisherId: integer (nullable = true)
 |    |    |    |    |    |    |-- channelId: integer (nullable = true)
 |    |    |    |    |    |    |-- adspaceId: integer (nullable = true)
 |    |    |    |    |    |-- zString: string (nullable = true)
 |    |    |    |    |-- content_term: struct (nullable = true)
 |    |    |    |    |    |-- referrerUrl: string (nullable = true)
 |    |    |    |    |    |-- keyword: string (nullable = true)
 |    |    |    |    |    |-- mvcam: struct (nullable = true)
 |    |    |    |    |    |    |-- advertiserId: integer (nullable = true)
 |    |    |    |    |    |    |-- campaignId: integer (nullable = true)
 |    |    |    |    |    |    |-- solutionId: integer (nullable = true)
 |    |    |    |    |    |    |-- bannerId: integer (nullable = true)
 |    |    |    |    |    |    |-- clickId: long (nullable = true)
 |    |    |    |    |    |    |-- zString: string (nullable = true)
 |    |-- orderId: string (nullable = true)
 |    |-- orderCurrency: string (nullable = true)
 |    |-- orderTotal: long (nullable = true)
 |    |-- orderExtFields: map (nullable = true)
 |    |    |-- key: integer
 |    |    |-- value: string (valueContainsNull = true)
 |    |-- mvContainer: struct (nullable = true)
 |    |    |-- mvcam: struct (nullable = true)
 |    |    |    |-- advertiserId: integer (nullable = true)
 |    |    |    |-- campaignId: integer (nullable = true)
 |    |    |    |-- solutionId: integer (nullable = true)
 |    |    |    |-- bannerId: integer (nullable = true)
 |    |    |    |-- clickId: long (nullable = true)
 |    |    |    |-- zString: string (nullable = true)
 |    |    |-- mven: string (nullable = true)
 |    |    |-- time: long (nullable = true)
 |    |    |-- rdom: string (nullable = true)
 |    |    |-- mvsrc: struct (nullable = true)
 |    |    |    |-- publisherId: integer (nullable = true)
 |    |    |    |-- channelId: integer (nullable = true)
 |    |    |    |-- adspaceId: integer (nullable = true)
 |    |    |-- mvmix: string (nullable = true)
 |    |    |-- rawString: string (nullable = true)
 |    |-- advertiserHostname: string (nullable = true)
 |    |-- advertiserPath: string (nullable = true)
 |    |-- advertiserPageTitle: string (nullable = true)
 |    |-- advertiserClientResolutionWidth: integer (nullable = true)
 |    |-- advertiserClientResolutionHeight: integer (nullable = true)
 |    |-- productName: string (nullable = true)
 |    |-- productPrice: long (nullable = true)
 |    |-- productQuantity: integer (nullable = true)
 |    |-- productCode: string (nullable = true)
 |    |-- flashVersion: string (nullable = true)
 |    |-- eventActionName: string (nullable = true)
 |    |-- eventActionValue: string (nullable = true)
 |    |-- trackType: string (nullable = true)
 |    |-- orderSourceId: string (nullable = true)
 |    |-- orderCommission: long (nullable = true)
 |    |-- orderType: integer (nullable = true)
 |    |-- orderUserType: integer (nullable = true)
 |    |-- orderStatus: integer (nullable = true)
 |    |-- orderItemCategory: string (nullable = true)
 |    |-- orderReturnTimeStamp: long (nullable = true)
 |    |-- orderUserCertificationCode: string (nullable = true)
 |    |-- itemCommission: long (nullable = true)
 |    |-- itemStatus: integer (nullable = true)
 |    |-- itemCategory: string (nullable = true)
 |    |-- orderURIQuery: string (nullable = true)
 |    |-- lastClickTime: long (nullable = true)
 |    |-- eventId: integer (nullable = true)
 |    |-- goalIds: array (nullable = true)
 |    |    |-- element: integer (containsNull = false)
 |    |-- semInfo: struct (nullable = true)
 |    |    |-- searchEngine: string (nullable = true)
 |    |    |-- adsageId: string (nullable = true)
 |    |-- landingPage: boolean (nullable = true)
 |    |-- secondLandingPage: boolean (nullable = true)
 |    |-- backTrackType: string (nullable = true)
 |    |-- beaconId: integer (nullable = true)
 |    |-- trackVersion: string (nullable = true)
 |    |-- cpsOrderCookie: array (nullable = true)
 |    |    |-- element: integer (containsNull = false)
 |    |-- cpsOrderGeoInfo: struct (nullable = true)
 |    |    |-- country: integer (nullable = true)
 |    |    |-- province: integer (nullable = true)
 |    |    |-- city: integer (nullable = true)
 |    |    |-- county: integer (nullable = true)
 |    |-- goodsDetail: struct (nullable = true)
 |    |    |-- categoryId: string (nullable = true)
 |    |    |-- brandId: string (nullable = true)
 |    |    |-- goodsName: string (nullable = true)
 |    |    |-- goodsId: string (nullable = true)
 |    |    |-- goodsPrice: long (nullable = true)
 |    |    |-- goodsImageUrl: string (nullable = true)
 |    |    |-- categoryName: string (nullable = true)
 |    |    |-- brandName: string (nullable = true)
 |    |    |-- stock: integer (nullable = true)
 |    |    |-- webPrice: long (nullable = true)
 |    |    |-- bookmarks: integer (nullable = true)
 |    |    |-- offTheShelfTime: long (nullable = true)
 |    |    |-- extField: map (nullable = true)
 |    |    |    |-- key: integer
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |-- uniqueId: string (nullable = true)
 |    |-- bouncePage: boolean (nullable = true)
 |    |-- new2ndLandingPage: boolean (nullable = true)
 |    |-- lastClickUrl: string (nullable = true)
 |    |-- backTrackHistory: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- backTrackType: string (nullable = true)
 |    |    |    |-- clickTimeStamp: long (nullable = true)
 |    |-- landingAdv: integer (nullable = true)
 |    |-- userDefinedKey: string (nullable = true)
 |    |-- userDefinedValue: string (nullable = true)
 |-- thirdPartyInfo: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- vendorId: integer (nullable = false)
 |    |    |-- vendorFields: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |-- extfield: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- breedIds: array (nullable = true)
 |    |-- element: string (containsNull = false)
 |-- adcoreVersion: integer (nullable = true)
 |-- bidMode: string (nullable = true)
 |-- impressionId: long (nullable = true)
 |-- fee: integer (nullable = true)
 |-- candIndex: integer (nullable = true)
 |-- fraud: boolean (nullable = true)
 |-- valid: boolean (nullable = true)
 |-- adspaceOperationMode: string (nullable = true)
 |-- ctrInfo: struct (nullable = true)
 |    |-- rpm: integer (nullable = false)
 |    |-- fee: integer (nullable = false)
 |    |-- ctr: double (nullable = true)
 |    |-- pCtr: double (nullable = true)
 |    |-- modelTag: string (nullable = true)
 |    |-- bloomFilterTag: string (nullable = true)
 |    |-- explorationScore: double (nullable = true)
 |    |-- baseFee: integer (nullable = true)
 |    |-- topRpm: integer (nullable = true)
 |    |-- bid: integer (nullable = true)
 |    |-- realRpm: integer (nullable = true)
 |    |-- cCtr: double (nullable = true)
 |    |-- realFee: integer (nullable = true)
 |    |-- agencyFee: integer (nullable = true)
 |-- frequencyInfo: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- period: integer (nullable = false)
 |    |    |-- advertiserFreq: integer (nullable = false)
 |    |    |-- campaignFreq: integer (nullable = false)
 |    |    |-- adGroupFreq: integer (nullable = false)
 |    |    |-- creativeFreq: integer (nullable = false)
 |-- entityType: string (nullable = true)
 |-- reasonsToMarkInvalid: array (nullable = true)
 |    |-- element: string (containsNull = false)
 |-- dspLogInfo: struct (nullable = true)
 |    |-- request: struct (nullable = false)
 |    |    |-- requestId: long (nullable = false)
 |    |    |-- requestType: string (nullable = false)
 |    |    |-- requester: string (nullable = false)
 |    |    |-- params: map (nullable = false)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- data: string (nullable = false)
 |    |    |-- timestamp: long (nullable = false)
 |    |    |-- realGeoInfo: struct (nullable = true)
 |    |    |    |-- country: integer (nullable = true)
 |    |    |    |-- province: integer (nullable = true)
 |    |    |    |-- city: integer (nullable = true)
 |    |    |    |-- county: integer (nullable = true)
 |    |-- response: struct (nullable = true)
 |    |    |-- requestId: long (nullable = false)
 |    |    |-- data: string (nullable = false)
 |    |    |-- timestamp: long (nullable = false)
 |    |    |-- candidates: array (nullable = false)
 |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |-- creativeId: integer (nullable = false)
 |    |    |    |    |-- bidPrice: integer (nullable = false)
 |    |    |    |    |-- auctionPrice: integer (nullable = false)
 |    |    |    |    |-- bidMode: string (nullable = false)
 |    |    |    |    |-- impressionId: long (nullable = false)
 |    |    |    |    |-- adslotId: integer (nullable = false)
 |    |    |    |    |-- width: integer (nullable = false)
 |    |    |    |    |-- height: integer (nullable = false)
 |    |    |    |    |-- ctrInfo: struct (nullable = true)
 |    |    |    |    |    |-- rpm: integer (nullable = false)
 |    |    |    |    |    |-- fee: integer (nullable = false)
 |    |    |    |    |    |-- ctr: double (nullable = true)
 |    |    |    |    |    |-- pCtr: double (nullable = true)
 |    |    |    |    |    |-- modelTag: string (nullable = true)
 |    |    |    |    |    |-- bloomFilterTag: string (nullable = true)
 |    |    |    |    |    |-- explorationScore: double (nullable = true)
 |    |    |    |    |    |-- baseFee: integer (nullable = true)
 |    |    |    |    |    |-- topRpm: integer (nullable = true)
 |    |    |    |    |    |-- bid: integer (nullable = true)
 |    |    |    |    |    |-- realRpm: integer (nullable = true)
 |    |    |    |    |    |-- cCtr: double (nullable = true)
 |    |    |    |    |    |-- realFee: integer (nullable = true)
 |    |    |    |    |    |-- agencyFee: integer (nullable = true)
 |    |    |    |    |-- labels: string (nullable = true)
 |    |    |    |    |-- thirdPartyAdspaceId: long (nullable = true)
 |    |    |    |    |-- advertiserId: integer (nullable = true)
 |    |    |    |    |-- campaignId: integer (nullable = true)
 |    |    |    |    |-- solutionId: integer (nullable = true)
 |    |    |    |    |-- adspacePosition: string (nullable = true)
 |    |    |    |    |-- landingPageUrl: string (nullable = true)
 |    |    |    |    |-- productIds: string (nullable = true)
 |    |    |    |    |-- queryLabelList: array (nullable = true)
 |    |    |    |    |    |-- element: integer (containsNull = false)
 |    |    |    |    |-- productInfos: array (nullable = true)
 |    |    |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |    |    |-- pid: string (nullable = false)
 |    |    |    |    |    |    |-- viewType: integer (nullable = true)
 |    |    |    |    |-- frequencyInfo: array (nullable = true)
 |    |    |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |    |    |-- period: integer (nullable = false)
 |    |    |    |    |    |    |-- advertiserFreq: integer (nullable = false)
 |    |    |    |    |    |    |-- campaignFreq: integer (nullable = false)
 |    |    |    |    |    |    |-- adGroupFreq: integer (nullable = false)
 |    |    |    |    |    |    |-- creativeFreq: integer (nullable = false)
 |    |    |    |    |-- productLabelId: integer (nullable = true)
 |    |    |    |    |-- productExpId: integer (nullable = true)
 |    |    |    |    |-- templateId: integer (nullable = true)
 |    |    |    |    |-- uncontrolledPrice: integer (nullable = true)
 |    |    |    |    |-- customizedRecInfo: struct (nullable = true)
 |    |    |    |    |    |-- rankerInLogId: long (nullable = true)
 |    |    |    |    |-- cvrInfo: struct (nullable = true)
 |    |    |    |    |    |-- cvr: double (nullable = false)
 |    |    |    |    |    |-- baseCvr: double (nullable = false)
 |    |    |    |    |    |-- bid: integer (nullable = false)
 |    |    |    |    |    |-- modelTag: string (nullable = true)
 |    |    |    |    |    |-- cvrType: string (nullable = true)
 |    |    |    |    |-- frontLabels: array (nullable = true)
 |    |    |    |    |    |-- element: integer (containsNull = false)
 |    |    |    |    |-- dmpLabelPrices: array (nullable = true)
 |    |    |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |    |    |-- labelId: integer (nullable = false)
 |    |    |    |    |    |    |-- price: integer (nullable = true)
 |    |    |    |    |-- offerPriceInfo: struct (nullable = true)
 |    |    |    |    |    |-- offerLabelPrices: array (nullable = true)
 |    |    |    |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |    |    |    |-- labelId: integer (nullable = false)
 |    |    |    |    |    |    |    |-- price: integer (nullable = true)
 |    |    |    |    |    |-- coefficient: integer (nullable = true)
 |    |    |    |    |-- creativeType: string (nullable = true)
 |    |    |    |    |-- dmpFee: integer (nullable = true)
 |    |    |    |    |-- dmpLogicType: string (nullable = true)
 |    |    |    |    |-- labelPropertyInfos: array (nullable = true)
 |    |    |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |    |    |-- labelId: integer (nullable = false)
 |    |    |    |    |    |    |-- timestamp: integer (nullable = true)
 |    |    |    |    |-- materialHashId: string (nullable = true)
 |    |    |    |    |-- adspaceMaxSlot: integer (nullable = true)
 |    |    |    |    |-- showRequestId: long (nullable = true)
 |    |    |    |    |-- adspaceSlot: integer (nullable = true)
 |    |    |    |    |-- solutionOwner: string (nullable = true)
 |    |    |    |    |-- keywordId: long (nullable = true)
 |    |    |    |    |-- keywordHashId: long (nullable = true)
 |    |    |    |    |-- bottomCreativeFlag: boolean (nullable = true)
 |    |    |-- thirdPartyPublisherId: long (nullable = true)
 |    |    |-- thirdPartyChannelId: long (nullable = true)
 |    |    |-- thirdPartyAdspaceId: long (nullable = true)
 |    |    |-- domainId: integer (nullable = true)
 |    |    |-- firstDomainId: integer (nullable = true)
 |    |    |-- publisherUrl: string (nullable = true)
 |    |    |-- showMvid: string (nullable = true)
 |    |-- showInfo: struct (nullable = true)
 |    |    |-- thirdPartyId: string (nullable = false)
 |    |    |-- winPrice: integer (nullable = false)
 |    |    |-- timestamp: long (nullable = false)
 |    |    |-- bidPrice: integer (nullable = false)
 |    |    |-- auctionPrice: integer (nullable = false)
 |    |    |-- requestData: string (nullable = true)
 |    |    |-- uncontrolledPrice: integer (nullable = true)
 |    |-- clickInfo: struct (nullable = true)
 |    |    |-- clickUrl: string (nullable = false)
 |    |    |-- timestamp: long (nullable = false)
 |    |    |-- clickEventId: long (nullable = false)
 |    |-- bidRequestInfo: struct (nullable = true)
 |    |    |-- adspaceInfo: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |-- width: integer (nullable = false)
 |    |    |    |    |-- height: integer (nullable = false)
 |    |    |    |    |-- displayType: string (nullable = true)
 |    |    |    |    |-- minimumCPM: integer (nullable = true)
 |    |    |    |    |-- position: string (nullable = true)
 |    |    |    |    |-- adslotId: integer (nullable = true)
 |    |    |-- ip: string (nullable = true)
 |    |    |-- labelInfo: array (nullable = true)
 |    |    |    |-- element: integer (containsNull = false)
 |-- cookieMappingInfo: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- thirdPartyId: integer (nullable = false)
 |    |    |-- mvIdHash: string (nullable = true)
 |    |    |-- thirdPartyCookieMappingId: string (nullable = true)
 |    |    |-- errorInfo: string (nullable = true)
 |-- thirdPartyData: struct (nullable = true)
 |    |-- thirdPartyId: string (nullable = false)
 |    |-- dataId: string (nullable = false)
 |-- solutionType: string (nullable = true)
 |-- pageReferralUrl: string (nullable = true)
 |-- clickEventId: string (nullable = true)
 |-- cBackTrackType: string (nullable = true)
 |-- cBackTrackCookie: array (nullable = true)
 |    |-- element: integer (containsNull = false)
 |-- dormer: boolean (nullable = true)
 |-- rawAdspaceId: integer (nullable = true)
 |-- logId: string (nullable = true)
 |-- richMediaInfo: struct (nullable = true)
 |    |-- shows: integer (nullable = true)
 |    |-- videoShows: integer (nullable = true)
 |    |-- minShows: integer (nullable = true)
 |    |-- validPlayInterval: integer (nullable = true)
 |    |-- clicks: integer (nullable = true)
 |    |-- maxReplays: integer (nullable = true)
 |    |-- minReplays: integer (nullable = true)
 |    |-- SNSClicks: array (nullable = true)
 |    |    |-- element: integer (containsNull = false)
 |    |-- muteTimes: integer (nullable = true)
 |    |-- closeTimes: integer (nullable = true)
 |    |-- info: map (nullable = true)
 |    |    |-- key: string
 |    |    |-- value: string (valueContainsNull = true)
 |    |-- videoLength: integer (nullable = true)
 |-- richMediaGroupInfo: struct (nullable = true)
 |    |-- shows: integer (nullable = true)
 |    |-- videoShows: integer (nullable = true)
 |    |-- minShows: integer (nullable = true)
 |    |-- validPlayInterval: integer (nullable = true)
 |    |-- clicks: integer (nullable = true)
 |    |-- maxReplays: integer (nullable = true)
 |    |-- minReplays: integer (nullable = true)
 |    |-- SNSClicks: array (nullable = true)
 |    |    |-- element: integer (containsNull = false)
 |    |-- muteTimes: integer (nullable = true)
 |    |-- closeTimes: integer (nullable = true)
 |    |-- info: map (nullable = true)
 |    |    |-- key: string
 |    |    |-- value: string (valueContainsNull = true)
 |    |-- videoLength: integer (nullable = true)
 |-- adspacePosition: string (nullable = true)
 |-- adspacePageType: string (nullable = true)
 |-- errorFlag: long (nullable = true)
 |-- onePixel: boolean (nullable = true)
 |-- uniqueId: string (nullable = true)
 |-- amCreativeType: string (nullable = true)
 |-- bottomCreativeFlag: boolean (nullable = true)
 |-- validClickeds: integer (nullable = true)
 |-- clickeds: integer (nullable = true)
 |-- logInfoDetail: struct (nullable = true)
 |    |-- competitionCandidates: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- creativeId: integer (nullable = false)
 |    |    |    |-- bidMode: string (nullable = true)
 |    |    |    |-- ctrInfo: struct (nullable = true)
 |    |    |    |    |-- rpm: integer (nullable = false)
 |    |    |    |    |-- fee: integer (nullable = false)
 |    |    |    |    |-- ctr: double (nullable = true)
 |    |    |    |    |-- pCtr: double (nullable = true)
 |    |    |    |    |-- modelTag: string (nullable = true)
 |    |    |    |    |-- bloomFilterTag: string (nullable = true)
 |    |    |    |    |-- explorationScore: double (nullable = true)
 |    |    |    |    |-- baseFee: integer (nullable = true)
 |    |    |    |    |-- topRpm: integer (nullable = true)
 |    |    |    |    |-- bid: integer (nullable = true)
 |    |    |    |    |-- realRpm: integer (nullable = true)
 |    |    |    |    |-- cCtr: double (nullable = true)
 |    |    |    |    |-- realFee: integer (nullable = true)
 |    |    |    |    |-- agencyFee: integer (nullable = true)
 |    |    |    |-- dormerFlag: boolean (nullable = true)
 |    |-- featureScoreMap: map (nullable = true)
 |    |    |-- key: string
 |    |    |-- value: struct (valueContainsNull = true)
 |    |    |    |-- featureScore: double (nullable = true)
 |    |    |    |-- queryInfo: string (nullable = true)
 |    |-- returnCandidates: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- creativeId: integer (nullable = false)
 |-- landingPageUrl: string (nullable = true)
 |-- exchangerId: string (nullable = true)
 |-- productIds: array (nullable = true)
 |    |-- element: string (containsNull = false)
 |-- consumerType: string (nullable = true)
 |-- queryLabelList: array (nullable = true)
 |    |-- element: integer (containsNull = false)
 |-- clickInfo: struct (nullable = true)
 |    |-- searchKeyword: string (nullable = true)
 |    |-- searchKeywordId: string (nullable = true)
 |    |-- thirdPartyCreativeId: string (nullable = true)
 |    |-- clickSourceDomain: string (nullable = true)
 |    |-- audiencePackId: string (nullable = true)
 |-- productInfos: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- pid: string (nullable = false)
 |    |    |-- viewType: integer (nullable = true)
 |-- productLabelId: integer (nullable = true)
 |-- productExpId: integer (nullable = true)
 |-- templateId: integer (nullable = true)
 |-- customizedRecInfo: struct (nullable = true)
 |    |-- rankerInLogId: long (nullable = true)
 |-- cvrInfo: struct (nullable = true)
 |    |-- cvr: double (nullable = false)
 |    |-- baseCvr: double (nullable = false)
 |    |-- bid: integer (nullable = false)
 |    |-- modelTag: string (nullable = true)
 |    |-- cvrType: string (nullable = true)
 |-- frontLabels: array (nullable = true)
 |    |-- element: integer (containsNull = false)
 |-- mobileData: struct (nullable = true)
 |    |-- platform: string (nullable = true)
 |    |-- osVersion: string (nullable = true)
 |    |-- deviceType: string (nullable = true)
 |    |-- brand: string (nullable = true)
 |    |-- model: string (nullable = true)
 |    |-- app: boolean (nullable = true)
 |    |-- mobileOptimized: boolean (nullable = true)
 |    |-- wifi: boolean (nullable = true)
 |    |-- carrierId: integer (nullable = true)
 |    |-- interstitial: boolean (nullable = true)
 |    |-- screenDensity: integer (nullable = true)
 |    |-- screenWidth: integer (nullable = true)
 |    |-- screenHeight: integer (nullable = true)
 |    |-- screenOrientation: string (nullable = true)
 |    |-- appCategoryIds: array (nullable = true)
 |    |    |-- element: integer (containsNull = false)
 |    |-- appName: string (nullable = true)
 |    |-- appId: integer (nullable = true)
 |    |-- idfa: string (nullable = true)
 |    |-- hashedIdfa: string (nullable = true)
 |    |-- appDisplayName: string (nullable = true)
 |    |-- deviceId: string (nullable = true)
 |    |-- hashedDeviceId: string (nullable = true)
 |    |-- mac: string (nullable = true)
 |    |-- imei: string (nullable = true)
 |    |-- imsi: array (nullable = true)
 |    |    |-- element: string (containsNull = false)
 |    |-- latitude: integer (nullable = true)
 |    |-- longitude: integer (nullable = true)
 |    |-- adType: string (nullable = true)
 |    |-- sdkInfo: struct (nullable = true)
 |    |    |-- sdkVersion: string (nullable = true)
 |    |    |-- channel: string (nullable = true)
 |    |    |-- appVersion: string (nullable = true)
 |    |    |-- adswidth: integer (nullable = true)
 |    |    |-- adsheight: integer (nullable = true)
 |    |    |-- adspaceId: integer (nullable = true)
 |    |    |-- testFlag: boolean (nullable = true)
 |    |    |-- admwidth: integer (nullable = true)
 |    |    |-- admheight: integer (nullable = true)
 |-- dmpLabelPrices: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- labelId: integer (nullable = false)
 |    |    |-- price: integer (nullable = true)
 |-- offerPriceInfo: struct (nullable = true)
 |    |-- offerLabelPrices: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- labelId: integer (nullable = false)
 |    |    |    |-- price: integer (nullable = true)
 |    |-- coefficient: integer (nullable = true)
 |-- dmpFee: integer (nullable = true)
 |-- dmpLogicType: string (nullable = true)
 |-- labelPropertyInfos: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- labelId: integer (nullable = false)
 |    |    |-- timestamp: integer (nullable = true)
 |-- creativeHeight: integer (nullable = true)
 |-- creativeWidth: integer (nullable = true)
 |-- materialHashId: string (nullable = true)
 |-- solutionOwner: string (nullable = true)
 |-- keywordId: long (nullable = true)
 |-- keywordHashId: long (nullable = true)
 |-- adspaceSlot: integer (nullable = true)
 |-- showRequestId: long (nullable = true)
 |-- querySession: struct (nullable = true)
 |    |-- tokenInfos: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- id: long (nullable = false)
 |    |    |    |-- weight: integer (nullable = true)
 |    |    |    |-- word: string (nullable = true)
 |    |-- score: integer (nullable = true)
 |    |-- sessionId: long (nullable = true)
 |    |-- timestamp: long (nullable = true)
 |    |-- source: integer (nullable = true)
 |    |-- type: integer (nullable = true)
 |-- tokenInfos: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- id: long (nullable = false)
 |    |    |-- weight: integer (nullable = true)
 |    |    |-- word: string (nullable = true)
 |-- realGeoInfo: struct (nullable = true)
 |    |-- country: integer (nullable = true)
 |    |-- province: integer (nullable = true)
 |    |-- city: integer (nullable = true)
 |    |-- county: integer (nullable = true)
 |-- adspaceMaxSlot: integer (nullable = true)
 |-- realFee: integer (nullable = true)
 |-- agencyFee: integer (nullable = true)
 |-- retrieveNum: integer (nullable = true)
 |-- rawMdid: string (nullable = true)
 |-- mdid: string (nullable = true)

</pre>
                    <ul>
                        <li>historyEvents输出在：/mvad/warehouse/session/dspan-history，目录结构如下：</li>
                    </ul>


<pre>/mvad/warehouse/session/dspan-history/date={YYYY-mm-dd}
</pre>

                    <p>checkpoint 在 /mvad/warehouse/session/dspan-history/date={YYYY-mm-dd}/_SUCCESS</p></div>
                <b>Schema同dspan</b>
            </div>
        </div>
    </div>
</div>


</div>
