<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="#/mvdw/overview">Overview</a></li>
                        <li><a href="#/mvdw/ods">ODS</a></li>
                        <li><a href="#/mvdw/session">Session</a></li>
                        <li><a href="#/mvdw/db">DB</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span11">
            <div id="mvdw_ods">
                <div>

                    <h3>ODS层数据说明</h3>
                    <ul>
                        <li>dsp输出在：/mvad/warehouse/ods/dsp，目录结构如下：</li>
                    </ul>


<pre>/mvad/warehouse/ods/dsp/date={YYYY-mm-dd}/hour={HH}/type={d.s.3/d.s.3.m/d.c.3/d.c.3.m/d.u.3/d.u.3.m/d.x.3/d.x.3.m/d.b.3/d.b.3.m}/device={pc/mobile}</pre>

    <p>hourly checkpoint 在 /mvad/warehouse/ods/dsp/date={YYYY-mm-dd}/hour={HH}/_SUCCESS<br>daily checkpoint
        在/mvad/warehouse/ods/dsp/date={YYYY-mm-dd}/_SUCCESS</p>
</pre>
                    <b>Schema如下：</b>
                    <pre>
root
 |-- request: struct (nullable = false)
 |    |-- requestId: long (nullable = false)
 |    |-- requestType: string (nullable = false)
 |    |-- requester: string (nullable = false)
 |    |-- params: map (nullable = false)
 |    |    |-- key: string
 |    |    |-- value: string (valueContainsNull = true)
 |    |-- data: string (nullable = false)
 |    |-- timestamp: long (nullable = false)
 |    |-- mobileData: struct (nullable = true)
 |    |    |-- platform: string (nullable = true)
 |    |    |-- osVersion: string (nullable = true)
 |    |    |-- deviceType: string (nullable = true)
 |    |    |-- brand: string (nullable = true)
 |    |    |-- model: string (nullable = true)
 |    |    |-- appFlag: boolean (nullable = true)
 |    |    |-- mobileOptimizedFlag: boolean (nullable = true)
 |    |    |-- wifiFlag: boolean (nullable = true)
 |    |    |-- carrierId: integer (nullable = true)
 |    |    |-- interstitialFlag: boolean (nullable = true)
 |    |    |-- screenDensity: integer (nullable = true)
 |    |    |-- screenWidth: integer (nullable = true)
 |    |    |-- screenHeight: integer (nullable = true)
 |    |    |-- screenOrientation: string (nullable = true)
 |    |    |-- appCategoryIds: array (nullable = true)
 |    |    |    |-- element: integer (containsNull = false)
 |    |    |-- appName: string (nullable = true)
 |    |    |-- appId: integer (nullable = true)
 |    |    |-- idfa: string (nullable = true)
 |    |    |-- hashedIdfa: string (nullable = true)
 |    |    |-- appDisplayName: string (nullable = true)
 |    |    |-- deviceId: string (nullable = true)
 |    |    |-- hashedDeviceId: string (nullable = true)
 |    |    |-- mac: string (nullable = true)
 |    |    |-- imei: string (nullable = true)
 |    |    |-- imsi: array (nullable = true)
 |    |    |    |-- element: string (containsNull = false)
 |    |    |-- latitude: integer (nullable = true)
 |    |    |-- longitude: integer (nullable = true)
 |    |    |-- adType: string (nullable = true)
 |    |    |-- sdkInfo: struct (nullable = true)
 |    |    |    |-- sdkVersion: string (nullable = true)
 |    |    |    |-- channel: string (nullable = true)
 |    |    |    |-- appVersion: string (nullable = true)
 |    |    |    |-- adswidth: integer (nullable = true)
 |    |    |    |-- adsheight: integer (nullable = true)
 |    |    |    |-- adspaceId: integer (nullable = true)
 |    |    |    |-- testFlag: boolean (nullable = true)
 |    |    |    |-- admwidth: integer (nullable = true)
 |    |    |    |-- admheight: integer (nullable = true)
 |    |    |-- imeiMD5: string (nullable = true)
 |    |    |-- idfaMD5: string (nullable = true)
 |    |    |-- macMD5: string (nullable = true)
 |    |    |-- androidId: string (nullable = true)
 |    |    |-- androidIdMD5: string (nullable = true)
 |    |    |-- baiduDeviceId: string (nullable = true)
 |    |-- os: string (nullable = true)
 |    |-- browser: string (nullable = true)
 |    |-- geo: struct (nullable = true)
 |    |    |-- country: integer (nullable = true)
 |    |    |-- province: integer (nullable = true)
 |    |    |-- city: integer (nullable = true)
 |    |    |-- county: integer (nullable = true)
 |    |-- logId: long (nullable = true)
 |    |-- seqId: long (nullable = true)
 |    |-- rawMdid: string (nullable = true)
 |    |-- mdid: string (nullable = true)
 |-- response: struct (nullable = true)
 |    |-- requestId: long (nullable = false)
 |    |-- data: string (nullable = false)
 |    |-- timestamp: long (nullable = false)
 |    |-- candidates: array (nullable = false)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- creativeId: integer (nullable = false)
 |    |    |    |-- bidPrice: integer (nullable = false)
 |    |    |    |-- auctionPrice: integer (nullable = false)
 |    |    |    |-- bidMode: string (nullable = false)
 |    |    |    |-- impressionId: long (nullable = false)
 |    |    |    |-- adslotId: integer (nullable = false)
 |    |    |    |-- width: integer (nullable = false)
 |    |    |    |-- height: integer (nullable = false)
 |    |    |    |-- ctrInfo: struct (nullable = true)
 |    |    |    |    |-- rpm: integer (nullable = false)
 |    |    |    |    |-- fee: integer (nullable = false)
 |    |    |    |    |-- ctr: double (nullable = true)
 |    |    |    |    |-- pCtr: double (nullable = true)
 |    |    |    |    |-- modelTag: string (nullable = true)
 |    |    |    |    |-- bloomFilterTag: string (nullable = true)
 |    |    |    |    |-- explorationScore: double (nullable = true)
 |    |    |    |    |-- baseFee: integer (nullable = true)
 |    |    |    |    |-- topRpm: integer (nullable = true)
 |    |    |    |    |-- bid: integer (nullable = true)
 |    |    |    |    |-- realRpm: integer (nullable = true)
 |    |    |    |    |-- cCtr: double (nullable = true)
 |    |    |    |    |-- realFee: integer (nullable = true)
 |    |    |    |    |-- agencyFee: integer (nullable = true)
 |    |    |    |-- labels: string (nullable = true)
 |    |    |    |-- thirdPartyAdspaceId: long (nullable = true)
 |    |    |    |-- advertiserId: integer (nullable = true)
 |    |    |    |-- campaignId: integer (nullable = true)
 |    |    |    |-- solutionId: integer (nullable = true)
 |    |    |    |-- adspacePosition: string (nullable = true)
 |    |    |    |-- landingPageUrl: string (nullable = true)
 |    |    |    |-- productIds: string (nullable = true)
 |    |    |    |-- queryLabelList: array (nullable = true)
 |    |    |    |    |-- element: integer (containsNull = false)
 |    |    |    |-- productInfos: array (nullable = true)
 |    |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |    |-- pid: string (nullable = false)
 |    |    |    |    |    |-- viewType: integer (nullable = true)
 |    |    |    |-- frequencyInfo: array (nullable = true)
 |    |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |    |-- period: integer (nullable = false)
 |    |    |    |    |    |-- advertiserFreq: integer (nullable = false)
 |    |    |    |    |    |-- campaignFreq: integer (nullable = false)
 |    |    |    |    |    |-- adGroupFreq: integer (nullable = false)
 |    |    |    |    |    |-- creativeFreq: integer (nullable = false)
 |    |    |    |-- productLabelId: integer (nullable = true)
 |    |    |    |-- productExpId: integer (nullable = true)
 |    |    |    |-- templateId: integer (nullable = true)
 |    |    |    |-- uncontrolledPrice: integer (nullable = true)
 |    |    |    |-- customizedRecInfo: struct (nullable = true)
 |    |    |    |    |-- rankerInLogId: long (nullable = true)
 |    |    |    |-- cvrInfo: struct (nullable = true)
 |    |    |    |    |-- cvr: double (nullable = false)
 |    |    |    |    |-- baseCvr: double (nullable = false)
 |    |    |    |    |-- bid: integer (nullable = false)
 |    |    |    |    |-- modelTag: string (nullable = true)
 |    |    |    |    |-- cvrType: string (nullable = true)
 |    |    |    |-- frontLabels: array (nullable = true)
 |    |    |    |    |-- element: integer (containsNull = false)
 |    |    |    |-- dmpLabelPrices: array (nullable = true)
 |    |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |    |-- labelId: integer (nullable = false)
 |    |    |    |    |    |-- price: integer (nullable = true)
 |    |    |    |-- offerPriceInfo: struct (nullable = true)
 |    |    |    |    |-- offerLabelPrices: array (nullable = true)
 |    |    |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |    |    |-- labelId: integer (nullable = false)
 |    |    |    |    |    |    |-- price: integer (nullable = true)
 |    |    |    |    |-- coefficient: integer (nullable = true)
 |    |    |    |-- creativeType: string (nullable = true)
 |    |    |    |-- dmpFee: integer (nullable = true)
 |    |    |    |-- dmpLogicType: string (nullable = true)
 |    |    |    |-- labelPropertyInfos: array (nullable = true)
 |    |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |    |-- labelId: integer (nullable = false)
 |    |    |    |    |    |-- timestamp: integer (nullable = true)
 |    |    |    |-- materialHashId: string (nullable = true)
 |    |    |    |-- adspaceMaxSlot: integer (nullable = true)
 |    |    |    |-- showRequestId: long (nullable = true)
 |    |    |    |-- adspaceSlot: integer (nullable = true)
 |    |    |    |-- solutionOwner: string (nullable = true)
 |    |    |    |-- keywordId: long (nullable = true)
 |    |    |    |-- keywordHashId: long (nullable = true)
 |    |    |    |-- bottomCreativeFlag: boolean (nullable = true)
 |    |-- mvid: string (nullable = true)
 |    |-- solutionType: string (nullable = true)
 |    |-- publisherUrl: string (nullable = true)
 |    |-- publisherId: integer (nullable = true)
 |    |-- channelId: integer (nullable = true)
 |    |-- domainId: integer (nullable = true)
 |    |-- firstDomainId: integer (nullable = true)
 |    |-- showMvid: string (nullable = true)
 |    |-- emptyResponse: struct (nullable = true)
 |    |    |-- topRPMCandidate: struct (nullable = true)
 |    |    |    |-- advertiserId: integer (nullable = true)
 |    |    |    |-- campaignId: integer (nullable = true)
 |    |    |    |-- solutionId: integer (nullable = true)
 |    |    |    |-- creativeId: integer (nullable = true)
 |    |    |    |-- auctionPrice: integer (nullable = true)
 |    |    |    |-- uncontrolledPrice: integer (nullable = true)
 |    |    |    |-- rpm: integer (nullable = true)
 |    |-- bidStatus: string (nullable = true)
 |    |-- querySession: struct (nullable = true)
 |    |    |-- tokenInfos: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |-- id: long (nullable = false)
 |    |    |    |    |-- weight: integer (nullable = true)
 |    |    |    |    |-- word: string (nullable = true)
 |    |    |-- score: integer (nullable = true)
 |    |    |-- sessionId: long (nullable = true)
 |    |    |-- timestamp: long (nullable = true)
 |    |    |-- source: integer (nullable = true)
 |    |    |-- type: integer (nullable = true)
 |    |-- tokenInfos: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- id: long (nullable = false)
 |    |    |    |-- weight: integer (nullable = true)
 |    |    |    |-- word: string (nullable = true)
 |-- showInfo: struct (nullable = true)
 |    |-- mvid: string (nullable = false)
 |    |-- thirdPartyId: string (nullable = false)
 |    |-- winPrice: integer (nullable = false)
 |    |-- impressionId: long (nullable = false)
 |    |-- advertiserId: integer (nullable = false)
 |    |-- campaignId: integer (nullable = false)
 |    |-- solutionId: integer (nullable = false)
 |    |-- creativeId: integer (nullable = false)
 |    |-- timestamp: long (nullable = false)
 |    |-- fee: integer (nullable = true)
 |    |-- bidMode: string (nullable = true)
 |    |-- errorFlag: long (nullable = true)
 |    |-- dmpFee: integer (nullable = true)
 |    |-- adspaceSlot: integer (nullable = true)
 |    |-- creativeType: string (nullable = true)
 |    |-- solutionOwner: string (nullable = true)
 |    |-- keywordId: long (nullable = true)
 |    |-- keywordHashId: long (nullable = true)
 |    |-- solutionType: string (nullable = true)
 |    |-- paramFlags: long (nullable = true)
 |    |-- realFee: integer (nullable = true)
 |    |-- auctionPrice: integer (nullable = true)
 |    |-- queryLabelList: array (nullable = true)
 |    |    |-- element: integer (containsNull = false)
 |    |-- totalWinPrice: integer (nullable = true)
 |    |-- agencyFee: integer (nullable = true)
 |    |-- publisherId: integer (nullable = true)
 |    |-- channelId: integer (nullable = true)
 |    |-- adspaceId: integer (nullable = true)
 |-- clickInfo: struct (nullable = true)
 |    |-- mvid: string (nullable = false)
 |    |-- impressionId: long (nullable = false)
 |    |-- clickEventId: long (nullable = false)
 |    |-- advertiserId: integer (nullable = false)
 |    |-- campaignId: integer (nullable = false)
 |    |-- solutionId: integer (nullable = false)
 |    |-- creativeId: integer (nullable = false)
 |    |-- clickId: integer (nullable = false)
 |    |-- clickUrl: string (nullable = false)
 |    |-- timestamp: long (nullable = false)
 |    |-- sourceId: string (nullable = false)
 |    |-- errorFlag: long (nullable = true)
 |    |-- longClickId: long (nullable = true)
 |    |-- productInfo: struct (nullable = true)
 |    |    |-- pid: string (nullable = false)
 |    |    |-- viewType: integer (nullable = true)
 |    |-- adspaceSlot: integer (nullable = true)
 |    |-- creativeType: string (nullable = true)
 |    |-- solutionOwner: string (nullable = true)
 |    |-- keywordId: long (nullable = true)
 |    |-- keywordHashId: long (nullable = true)
 |    |-- solutionType: string (nullable = true)
 |    |-- paramFlags: long (nullable = true)
 |    |-- fee: integer (nullable = true)
 |    |-- agencyFee: integer (nullable = true)
 |    |-- realFee: integer (nullable = true)
 |    |-- auctionPrice: integer (nullable = true)
 |    |-- winPrice: integer (nullable = true)
 |    |-- totalWinPrice: integer (nullable = true)
 |    |-- publisherId: integer (nullable = true)
 |    |-- channelId: integer (nullable = true)
 |    |-- adspaceId: integer (nullable = true)
 |-- logInfoDetail: struct (nullable = true)
 |    |-- competitionCandidates: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- creativeId: integer (nullable = false)
 |    |    |    |-- bidMode: string (nullable = true)
 |    |    |    |-- ctrInfo: struct (nullable = true)
 |    |    |    |    |-- rpm: integer (nullable = false)
 |    |    |    |    |-- fee: integer (nullable = false)
 |    |    |    |    |-- ctr: double (nullable = true)
 |    |    |    |    |-- pCtr: double (nullable = true)
 |    |    |    |    |-- modelTag: string (nullable = true)
 |    |    |    |    |-- bloomFilterTag: string (nullable = true)
 |    |    |    |    |-- explorationScore: double (nullable = true)
 |    |    |    |    |-- baseFee: integer (nullable = true)
 |    |    |    |    |-- topRpm: integer (nullable = true)
 |    |    |    |    |-- bid: integer (nullable = true)
 |    |    |    |    |-- realRpm: integer (nullable = true)
 |    |    |    |    |-- cCtr: double (nullable = true)
 |    |    |    |    |-- realFee: integer (nullable = true)
 |    |    |    |    |-- agencyFee: integer (nullable = true)
 |    |    |    |-- dormerFlag: boolean (nullable = true)
 |    |-- featureScoreMap: map (nullable = true)
 |    |    |-- key: string
 |    |    |-- value: struct (valueContainsNull = true)
 |    |    |    |-- featureScore: double (nullable = true)
 |    |    |    |-- queryInfo: string (nullable = true)
 |    |-- returnCandidates: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- creativeId: integer (nullable = false)
 |-- bidRequestInfo: struct (nullable = true)
 |    |-- adspaceInfo: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- width: integer (nullable = false)
 |    |    |    |-- height: integer (nullable = false)
 |    |    |    |-- displayType: string (nullable = true)
 |    |    |    |-- minimumCPM: integer (nullable = true)
 |    |    |    |-- position: string (nullable = true)
 |    |    |    |-- adslotId: integer (nullable = true)
 |    |    |    |-- standardWidth: integer (nullable = true)
 |    |    |    |-- standardHeight: integer (nullable = true)
 |    |    |    |-- video: struct (nullable = true)
 |    |    |    |    |-- maxduration: integer (nullable = true)
 |    |    |    |-- adspaceId: integer (nullable = true)
 |    |    |    |-- adspacePageType: string (nullable = true)
 |    |    |    |-- tier: string (nullable = true)
 |    |-- ip: string (nullable = true)
 |    |-- labelInfo: array (nullable = true)
 |    |    |-- element: integer (containsNull = false)
 |    |-- originalLabel: array (nullable = true)
 |    |    |-- element: integer (containsNull = false)
 |    |-- originalLabelWeight: array (nullable = true)
 |    |    |-- element: double (containsNull = false)
 |-- date: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- device: string (nullable = true)

</pre>

                    <ul>
                        <li>dsp-extended输出在：/mvad/warehouse/ods/dsp-extended， 目录结构如下：</li>
                    </ul>


<pre>/mvad/warehouse/ods/dsp-extended/date={YYYY-mm-dd}/hour={HH}/type=d.e.3
</pre>

                    <p>hourly checkpoint 在 /mvad/warehouse/ods/dsp-extended/date={YYYY-mm-dd}/hour={HH}/_SUCCESS<br>daily
                        checkpoint 在/mvad/warehouse/ods/dsp-extended/date={YYYY-mm-dd}/_SUCCESS</p>

                    <b>Schema如下：</b>
<pre>
root
 |-- timestamp: long (nullable = false)
 |-- requestId: long (nullable = false)
 |-- requestType: string (nullable = false)
 |-- requester: string (nullable = false)
 |-- mvid: string (nullable = true)
 |-- data: string (nullable = true)
 |-- rawInfo: string (nullable = true)
 |-- date: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- type: string (nullable = true)

</pre>
                    <ul>
                        <li>exchange输出在：/mvad/warehouse/ods/exchange， 目录结构如下：</li>
                    </ul>


<pre>/mvad/warehouse/ods/exchange/date={YYYY-mm-dd}/hour={HH}/type={e.s.3/e.s.3.f/e.c.3/e.c.3.f/e.u.3/e.x.3}
</pre>

                    <p>hourly checkpoint 在 /mvad/warehouse/ods/exchange/date={YYYY-mm-dd}/hour={HH}/_SUCCESS<br>daily
                        checkpoint 在/mvad/warehouse/ods/exchange/date={YYYY-mm-dd}/_SUCCESS</p>

                 <b>Schema如下：</b>
<pre>
root
 |-- request: struct (nullable = false)
 |    |-- logId: long (nullable = false)
 |    |-- bidId: string (nullable = false)
 |    |-- timestamp: long (nullable = false)
 |    |-- reqType: string (nullable = false)
 |    |-- params: map (nullable = false)
 |    |    |-- key: string
 |    |    |-- value: string (valueContainsNull = true)
 |    |-- mvId: string (nullable = true)
 |    |-- ip: string (nullable = true)
 |    |-- userAgent: string (nullable = true)
 |    |-- url: string (nullable = true)
 |    |-- adSlot: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- id: integer (nullable = false)
 |    |    |    |-- adspaceId: integer (nullable = true)
 |    |    |    |-- size: struct (nullable = true)
 |    |    |    |    |-- width: integer (nullable = false)
 |    |    |    |    |-- height: integer (nullable = false)
 |    |    |    |-- minCpmPrice: integer (nullable = true)
 |    |-- mobileInfo: struct (nullable = true)
 |    |    |-- isApp: boolean (nullable = true)
 |    |    |-- isFullscreen: boolean (nullable = true)
 |    |    |-- appId: integer (nullable = true)
 |    |    |-- deviceInfo: struct (nullable = true)
 |    |    |    |-- platform: string (nullable = true)
 |    |    |    |-- brand: string (nullable = true)
 |    |    |    |-- model: string (nullable = true)
 |    |    |    |-- os: string (nullable = true)
 |    |    |    |-- osVersion: string (nullable = true)
 |    |    |    |-- network: integer (nullable = true)
 |    |    |    |-- carrierId: integer (nullable = true)
 |    |    |    |-- longitude: integer (nullable = true)
 |    |    |    |-- latitude: integer (nullable = true)
 |    |    |    |-- screenWidth: integer (nullable = true)
 |    |    |    |-- screenHeight: integer (nullable = true)
 |    |    |    |-- screenOrientation: integer (nullable = true)
 |    |    |    |-- idfa: string (nullable = true)
 |    |    |    |-- imei: string (nullable = true)
 |    |    |    |-- androidId: string (nullable = true)
 |    |    |    |-- mac: string (nullable = true)
 |    |    |-- packageName: string (nullable = true)
 |    |-- isTest: boolean (nullable = true)
 |    |-- isPing: boolean (nullable = true)
 |    |-- seqId: long (nullable = true)
 |    |-- os: string (nullable = true)
 |    |-- browser: string (nullable = true)
 |    |-- fraudReasons: array (nullable = true)
 |    |    |-- element: integer (containsNull = false)
 |    |-- logFlags: long (nullable = true)
 |-- response: struct (nullable = true)
 |    |-- timestamp: long (nullable = false)
 |    |-- isDeal: boolean (nullable = false)
 |    |-- winPrice: integer (nullable = true)
 |    |-- maxBidPrice: integer (nullable = true)
 |    |-- winnerId: integer (nullable = true)
 |    |-- advertiserId: string (nullable = true)
 |    |-- creativeId: string (nullable = true)
 |    |-- isReserved: boolean (nullable = true)
 |    |-- bidInfo: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- dspId: integer (nullable = false)
 |    |    |    |-- netInfo: struct (nullable = true)
 |    |    |    |    |-- httpState: string (nullable = true)
 |    |    |    |    |-- initTime: long (nullable = true)
 |    |    |    |    |-- connectTime: long (nullable = true)
 |    |    |    |    |-- writeDoneTime: long (nullable = true)
 |    |    |    |    |-- readDoneTime: long (nullable = true)
 |    |    |    |-- adsInfo: struct (nullable = true)
 |    |    |    |    |-- adslotId: integer (nullable = false)
 |    |    |    |    |-- bidPrice: integer (nullable = false)
 |    |    |    |    |-- adspaceId: integer (nullable = true)
 |    |    |    |    |-- htmlSnippet: string (nullable = true)
 |    |    |    |    |-- advertiserId: string (nullable = true)
 |    |    |    |    |-- creativeId: string (nullable = true)
 |    |    |    |    |-- clickUrl: array (nullable = true)
 |    |    |    |    |    |-- element: string (containsNull = false)
 |    |    |    |    |-- destUrl: array (nullable = true)
 |    |    |    |    |    |-- element: string (containsNull = false)
 |    |    |    |    |-- filterReason: string (nullable = true)
 |    |    |    |    |-- isReserved: boolean (nullable = true)
 |    |    |    |-- isTimeout: boolean (nullable = true)
 |    |    |    |-- isFiltered: boolean (nullable = true)
 |    |-- emptyResponseReason: string (nullable = true)
 |    |-- adserverBidInfo: struct (nullable = true)
 |    |    |-- mvId: string (nullable = false)
 |    |    |-- publisherId: integer (nullable = false)
 |    |    |-- channelId: integer (nullable = true)
 |    |    |-- adspaceId: integer (nullable = false)
 |    |    |-- advertiserId: integer (nullable = false)
 |    |    |-- campaignId: integer (nullable = false)
 |    |    |-- solutionId: integer (nullable = false)
 |    |    |-- creativeId: integer (nullable = false)
 |    |    |-- impressionId: long (nullable = true)
 |    |    |-- bidPrice: integer (nullable = true)
 |    |-- impressionId: long (nullable = true)
 |    |-- params: map (nullable = true)
 |    |    |-- key: string
 |    |    |-- value: string (valueContainsNull = true)
 |    |-- htmlSnippet: string (nullable = true)
 |-- clickInfo: struct (nullable = true)
 |    |-- dspId: integer (nullable = true)
 |    |-- adspaceId: integer (nullable = true)
 |    |-- targetUrl: string (nullable = true)
 |    |-- errorFlag: integer (nullable = true)
 |    |-- impressionId: long (nullable = true)
 |-- showInfo: struct (nullable = true)
 |    |-- dspId: integer (nullable = true)
 |    |-- adspaceId: integer (nullable = true)
 |    |-- errorFlag: integer (nullable = true)
 |    |-- winPrice: integer (nullable = true)
 |    |-- impressionId: long (nullable = true)
 |-- date: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- type: string (nullable = true)

</pre>

                    <ul>
                        <li>exchange-extended输出在：/mvad/warehouse/ods/exchange-extended，目录结构如下：</li>
                    </ul>


<pre>/mvad/warehouse/ods/exchange-extended/date={YYYY-mm-dd}/hour={HH}/type=e.e.3
</pre>

                    <p>hourly checkpoint 在
                        /mvad/warehouse/ods/exchange-extended/date={YYYY-mm-dd}/hour={HH}/_SUCCESS<br>daily checkpoint
                        在/mvad/warehouse/ods/exchange-extended/date={YYYY-mm-dd}/_SUCCESS</p>

                 <b>Schema如下：</b>
<pre>
root
 |-- bidId: string (nullable = false)
 |-- timestamp: long (nullable = false)
 |-- requestData: string (nullable = true)
 |-- extBidInfo: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- dspId: integer (nullable = false)
 |    |    |-- bidData: string (nullable = true)
 |-- date: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- type: string (nullable = true)

</pre>
                    <ul>
                        <li>ambition输出在： /mvad/warehouse/ods/ambition，目录结构如下：</li>
                    </ul>


<pre>/mvad/warehouse/ods/ambition/date={YYYY-mm-dd}/hour={HH}/type={a.s.3/a.c.s/a.p.3}
</pre>

                    <p>hourly checkpoint 在 /mvad/warehouse/ods/ambition/date={YYYY-mm-dd}/hour={HH}/_SUCCESS<br>daily
                        checkpoint 在/mvad/warehouse/ods/ambition/date={YYYY-mm-dd}/_SUCCESS</p></div>
            </div>

         <b>Schema如下：</b>
<pre>
root
 |-- reqInfo: struct (nullable = false)
 |    |-- hostname: string (nullable = false)
 |    |-- ip: string (nullable = false)
 |    |-- uri: string (nullable = false)
 |    |-- referrer: string (nullable = true)
 |    |-- useragent: string (nullable = true)
 |    |-- lang: string (nullable = true)
 |    |-- proxy: string (nullable = true)
 |    |-- param: map (nullable = true)
 |    |    |-- key: string
 |    |    |-- value: string (valueContainsNull = true)
 |    |-- of: string (nullable = true)
 |    |-- debuglevel: string (nullable = true)
 |    |-- os: string (nullable = true)
 |    |-- browser: string (nullable = true)
 |    |-- mobile: struct (nullable = true)
 |    |    |-- platform: string (nullable = true)
 |    |    |-- osVersion: string (nullable = true)
 |    |    |-- deviceType: string (nullable = true)
 |    |    |-- brand: string (nullable = true)
 |    |    |-- model: string (nullable = true)
 |    |    |-- appFlag: boolean (nullable = true)
 |    |    |-- mobileOptimizedFlag: boolean (nullable = true)
 |    |    |-- wifiFlag: boolean (nullable = true)
 |    |    |-- carrierId: integer (nullable = true)
 |    |    |-- interstitialFlag: boolean (nullable = true)
 |    |    |-- screenDensity: integer (nullable = true)
 |    |    |-- screenWidth: integer (nullable = true)
 |    |    |-- screenHeight: integer (nullable = true)
 |    |    |-- screenOrientation: string (nullable = true)
 |    |    |-- appCategoryIds: array (nullable = true)
 |    |    |    |-- element: integer (containsNull = false)
 |    |    |-- appName: string (nullable = true)
 |    |    |-- appId: integer (nullable = true)
 |    |    |-- idfa: string (nullable = true)
 |    |    |-- hashedIdfa: string (nullable = true)
 |    |    |-- appDisplayName: string (nullable = true)
 |    |    |-- deviceId: string (nullable = true)
 |    |    |-- hashedDeviceId: string (nullable = true)
 |    |    |-- mac: string (nullable = true)
 |    |    |-- imei: string (nullable = true)
 |    |    |-- imsi: array (nullable = true)
 |    |    |    |-- element: string (containsNull = false)
 |    |    |-- latitude: integer (nullable = true)
 |    |    |-- longitude: integer (nullable = true)
 |    |    |-- adType: string (nullable = true)
 |    |    |-- sdkInfo: struct (nullable = true)
 |    |    |    |-- sdkVersion: string (nullable = true)
 |    |    |    |-- channel: string (nullable = true)
 |    |    |    |-- appVersion: string (nullable = true)
 |    |    |    |-- adswidth: integer (nullable = true)
 |    |    |    |-- adsheight: integer (nullable = true)
 |    |    |    |-- adspaceId: integer (nullable = true)
 |    |    |    |-- testFlag: boolean (nullable = true)
 |    |    |    |-- admwidth: integer (nullable = true)
 |    |    |    |-- admheight: integer (nullable = true)
 |    |    |-- imeiMD5: string (nullable = true)
 |    |    |-- idfaMD5: string (nullable = true)
 |    |    |-- macMD5: string (nullable = true)
 |    |    |-- androidId: string (nullable = true)
 |    |    |-- androidIdMD5: string (nullable = true)
 |    |    |-- baiduDeviceId: string (nullable = true)
 |    |-- logId: long (nullable = true)
 |    |-- seqId: long (nullable = true)
 |-- respInfo: struct (nullable = false)
 |    |-- mvId: string (nullable = false)
 |    |-- reqTime: integer (nullable = false)
 |    |-- respTime: integer (nullable = false)
 |    |-- reqType: string (nullable = false)
 |    |-- publisherId: integer (nullable = false)
 |    |-- channelId: integer (nullable = true)
 |    |-- adspaceId: integer (nullable = false)
 |    |-- advertiserId: integer (nullable = false)
 |    |-- campaignId: integer (nullable = false)
 |    |-- solutionId: integer (nullable = false)
 |    |-- creativeId: integer (nullable = false)
 |    |-- clickId: long (nullable = true)
 |    |-- fee: integer (nullable = true)
 |    |-- labels: string (nullable = true)
 |    |-- bidMode: string (nullable = true)
 |    |-- candIndex: integer (nullable = true)
 |    |-- impressionId: long (nullable = true)
 |    |-- frequencyInfo: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- period: integer (nullable = false)
 |    |    |    |-- advertiserFreq: integer (nullable = false)
 |    |    |    |-- campaignFreq: integer (nullable = false)
 |    |    |    |-- adGroupFreq: integer (nullable = false)
 |    |    |    |-- creativeFreq: integer (nullable = false)
 |    |-- entityType: string (nullable = true)
 |    |-- clickEventId: string (nullable = true)
 |    |-- solutionType: string (nullable = true)
 |    |-- emptyReturnType: string (nullable = true)
 |    |-- param: map (nullable = true)
 |    |    |-- key: string
 |    |    |-- value: string (valueContainsNull = true)
 |    |-- adspacePosition: string (nullable = true)
 |    |-- adspacePageType: string (nullable = true)
 |    |-- creativeType: string (nullable = true)
 |    |-- bottomCreativeFlag: boolean (nullable = true)
 |    |-- landingPageUrl: string (nullable = true)
 |    |-- productIds: string (nullable = true)
 |    |-- consumerType: string (nullable = true)
 |    |-- queryLabelList: array (nullable = true)
 |    |    |-- element: integer (containsNull = false)
 |    |-- productInfos: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- pid: string (nullable = false)
 |    |    |    |-- viewType: integer (nullable = true)
 |    |-- productLabelId: integer (nullable = true)
 |    |-- productExpId: integer (nullable = true)
 |    |-- templateId: integer (nullable = true)
 |    |-- customizedRecInfo: struct (nullable = true)
 |    |    |-- rankerInLogId: long (nullable = true)
 |    |-- frontLabels: array (nullable = true)
 |    |    |-- element: integer (containsNull = false)
 |    |-- dmpLabelPrices: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- labelId: integer (nullable = false)
 |    |    |    |-- price: integer (nullable = true)
 |    |-- offerPriceInfo: struct (nullable = true)
 |    |    |-- offerLabelPrices: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |-- labelId: integer (nullable = false)
 |    |    |    |    |-- price: integer (nullable = true)
 |    |    |-- coefficient: integer (nullable = true)
 |    |-- dmpFee: integer (nullable = true)
 |    |-- dmpLogicType: string (nullable = true)
 |    |-- creativeHeight: integer (nullable = true)
 |    |-- creativeWidth: integer (nullable = true)
 |    |-- labelPropertyInfos: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- labelId: integer (nullable = false)
 |    |    |    |-- timestamp: integer (nullable = true)
 |    |-- materialHashId: string (nullable = true)
 |    |-- solutionOwner: string (nullable = true)
 |    |-- keywordId: long (nullable = true)
 |    |-- keywordHashId: long (nullable = true)
 |    |-- adspaceSlot: integer (nullable = true)
 |    |-- showRequestId: long (nullable = true)
 |    |-- querySession: struct (nullable = true)
 |    |    |-- tokenInfos: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = false)
 |    |    |    |    |-- id: long (nullable = false)
 |    |    |    |    |-- weight: integer (nullable = true)
 |    |    |    |    |-- word: string (nullable = true)
 |    |    |-- score: integer (nullable = true)
 |    |    |-- sessionId: long (nullable = true)
 |    |    |-- timestamp: long (nullable = true)
 |    |    |-- source: integer (nullable = true)
 |    |    |-- type: integer (nullable = true)
 |    |-- tokenInfos: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- id: long (nullable = false)
 |    |    |    |-- weight: integer (nullable = true)
 |    |    |    |-- word: string (nullable = true)
 |    |-- adspaceHeight: integer (nullable = true)
 |    |-- adspaceWidth: integer (nullable = true)
 |    |-- adspaceMaxSlot: integer (nullable = true)
 |    |-- retrieveNum: integer (nullable = true)
 |-- ctrInfo: struct (nullable = true)
 |    |-- rpm: integer (nullable = false)
 |    |-- fee: integer (nullable = false)
 |    |-- ctr: double (nullable = true)
 |    |-- pCtr: double (nullable = true)
 |    |-- modelTag: string (nullable = true)
 |    |-- bloomFilterTag: string (nullable = true)
 |    |-- explorationScore: double (nullable = true)
 |    |-- baseFee: integer (nullable = true)
 |    |-- topRpm: integer (nullable = true)
 |    |-- bid: integer (nullable = true)
 |    |-- realRpm: integer (nullable = true)
 |    |-- cCtr: double (nullable = true)
 |    |-- realFee: integer (nullable = true)
 |    |-- agencyFee: integer (nullable = true)
 |-- logInfoDetail: struct (nullable = true)
 |    |-- competitionCandidates: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- creativeId: integer (nullable = false)
 |    |    |    |-- bidMode: string (nullable = true)
 |    |    |    |-- ctrInfo: struct (nullable = true)
 |    |    |    |    |-- rpm: integer (nullable = false)
 |    |    |    |    |-- fee: integer (nullable = false)
 |    |    |    |    |-- ctr: double (nullable = true)
 |    |    |    |    |-- pCtr: double (nullable = true)
 |    |    |    |    |-- modelTag: string (nullable = true)
 |    |    |    |    |-- bloomFilterTag: string (nullable = true)
 |    |    |    |    |-- explorationScore: double (nullable = true)
 |    |    |    |    |-- baseFee: integer (nullable = true)
 |    |    |    |    |-- topRpm: integer (nullable = true)
 |    |    |    |    |-- bid: integer (nullable = true)
 |    |    |    |    |-- realRpm: integer (nullable = true)
 |    |    |    |    |-- cCtr: double (nullable = true)
 |    |    |    |    |-- realFee: integer (nullable = true)
 |    |    |    |    |-- agencyFee: integer (nullable = true)
 |    |    |    |-- dormerFlag: boolean (nullable = true)
 |    |-- featureScoreMap: map (nullable = true)
 |    |    |-- key: string
 |    |    |-- value: struct (valueContainsNull = true)
 |    |    |    |-- featureScore: double (nullable = true)
 |    |    |    |-- queryInfo: string (nullable = true)
 |    |-- returnCandidates: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- creativeId: integer (nullable = false)
 |-- cvrInfo: struct (nullable = true)
 |    |-- cvr: double (nullable = false)
 |    |-- baseCvr: double (nullable = false)
 |    |-- bid: integer (nullable = false)
 |    |-- modelTag: string (nullable = true)
 |    |-- cvrType: string (nullable = true)
 |-- date: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- type: string (nullable = true)

</pre>

        </div>
    </div>
</div>


</div>
