<div class="container-fluid">
    <div class="row-fluid">
            <!-- sql input window-->
            <form class="form-inline">
                <button id="runbtn" type="submit" class="btn btn-default">Run SQL</button>
                <button id="clearbtn" type="reset" class="btn btn-default">Clear</button>
                <button id="showserver" class="btn btn-default">Server</button>
                <button id="showhistory" class="btn btn-default">History</button>
        <textarea id="editor" rows="10" cols="30" style="width:100%;height:200px" class="form-control"
                  placeholder="input your SQL here, Ctrl+Enter to Submit"></textarea>
                Result:
                <input type="radio" name="saveresult" value="1" checked>Save Table</label>
                <input type="radio" name="saveresult" value="0" disabled>Show Directly</label>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <label for="resultlimit">Limit : </label>
                <select id="resultlimit" class="input-small">
                    <option value="1000" selected="selected">1000</option>
                    <option value="2000">2000</option>
                    <option value="3000">3000</option>
                </select>
            </form>

            <div id="message" class="alert ">
                Show Result as Follows
            </div>
            <div class="row-fluid" id="result"></div>
    </div>
</div>


<script>

    function detectServer() {
        $.ajax(
                {
                    type: 'GET',
                    url: '/rest/sparksql/webuiurl',
                    dataType: 'json',
                    success: function (result, textStatus) {
                        var retcode = result['retcode']
                        if (retcode == 0) {
                            $("#message").html(result['message']);

                        } else {
                            $("#message").attr('class', 'alert alert-block alert-error');
                            $("#message").html(result['message']);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#message").attr('class', 'alert alert-block alert-danger');
                        $("#message").html(errorThrown);
                    }
                });
    }


</script>

<script>
    var wnd;
    $(document).ready(function () {

        var sparksqlserver_webui_url = "";

        detectServer();

        var gridData = [];

        generateGrid(gridData);

        $("#runbtn").click(run);
        $("#clearbtn").click(clear);
        $("#showserver").click(showserver);
        $("#showhistory").click(showhistory);
        $("#editor").keydown(function (event) {
            if (event.keyCode == 13 && event.ctrlKey) {
                $("#runbtn").click();
            }
        });


        function detectServer() {
            $.ajax(
                    {
                        type: 'GET',
                        url: '/rest/sparksql/webuiurl',
                        dataType: 'json',
                        success: function (result, textStatus) {
                            var retcode = result['retcode']
                            if (retcode == 0) {
                                sparksqlserver_webui_url = result['url'];
                                $("#message").html(result['message']);

                            } else {
                                $("#message").attr('class', 'alert alert-block alert-error');
                                $("#message").html(result['message']);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $("#message").attr('class', 'alert alert-block alert-danger');
                            $("#message").html(errorThrown);
                        }
                    });
        }

        function generateGrid(gridData) {
            var schema = generateSchema(gridData);
            var grid = $("#result").kendoGrid({
                toolbar: ["excel"],
                excel: {
                    allPages: true,
                    fileName: "result.xlsx",
                    filterable: true
                },

                dataSource: {
                    data: gridData,
                    schema: schema,
                    pageSize: 100
                },
                height: 700,
                resizable: true,
                groupable: true,
//                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                filterable: {
                    mode: "row"
                },
                columnMenu: true
            });
        }

        function generateSchema(gridData) {

            var schema = {};
            var parseFunction;
            var dateFields = [];

            var model = generateModel(gridData[0]);
            if (dateFields.length > 0) {
                parseFunction = function (response) {
                    for (var i = 0; i < response.length; i++) {
                        for (var fieldIndex = 0; fieldIndex < dateFields.length; fieldIndex++) {
                            var record = response[i];
                            record[dateFields[fieldIndex]] = kendo.parseDate(record[dateFields[fieldIndex]]);
                        }
                    }
                    return response;
                };
            }

            schema.model = model;
//            schema.parse = parseFunction;

            return schema;
        }

        function generateModel(gridData) {
            var model = {};
            model.id = "ID";
            var fields = {};
            for (var property in gridData) {
                var propType = typeof gridData[property];

                if (propType == "number") {
                    fields[property] = {
                        type: "number",
                        validation: {
                            required: true
                        }
                    };
                } else if (propType == "boolean") {
                    fields[property] = {
                        type: "boolean",
                        validation: {
                            required: true
                        }
                    };
//                } else if (propType == "string") {
//                    var parsedDate = kendo.parseDate(gridData[property]);
//                    if (parsedDate) {
//                        fields[property] = {
//                            type: "date",
//                            validation: {
//                                required: true
//                            }
//                        };
//                        dateFields.push(property);
//                    } else {
//                        fields[property] = {
//                            validation: {
//                                required: true
//                            }
//                        };
//                    }
                } else {
                    fields[property] = {
                        validation: {
                            required: true
                        }
                    };
                }

            }
            model.fields = fields;

            return model;
        }

        function run(e) {

            // destroy grid of last result
            $('#result').data().kendoGrid.destroy();
            $('#result').empty();

            var sql = $("#editor").val().trim().split(';')[0];
            console.log("running SQL: ")
            console.log(sql);

            var save = $("input[name='saveresult']:checked").val()
            console.log("saveresult: " + save);
            var resultlimit = $("#resultlimit").val();

            if (sql != '') {

                $("#message").attr('class', 'alert alert-block alert-info');
                $("#message").html("Running SQL: " + sql + " <p> Please wait ... <p> See progress <a href='" + sparksqlserver_webui_url + "' target='_blank'><b style='color: red;'>here</b></a>");

                $.ajax(
                        {
                            type: 'POST',
                            url: '/rest/sparksql/runsqljdbc?save='+save,
                            data: {sql: sql},
                            dataType: 'json',
                            success: function (result, textStatus) {
                                var retcode = result['retcode']
                                if (retcode == 0) {
                                    console.log("query OK. ");
                                    $("#message").attr('class', 'alert alert-block alert-success');
                                    $("#message").html(result['message']);

                                    if(save == 0){
                                        console.log("refreshing Grid. ");
                                        generateGrid(result['result']);
                                    }else{
                                        console.log("fetching resulttable. ");
                                        var resulttable = result['resulttable']
                                        $.ajax({
                                            url: "/rest/sparksql/fetchresult?resulttable="+resulttable+"&limit="+resultlimit,
                                            success: function(tableresult){
                                                console.log("refreshing Grid with resulttable data ");
                                                $("#message").attr('class', 'alert alert-block alert-success');
                                                $("#message").html(tableresult['message']);
                                                generateGrid(tableresult['result']);
                                            }
                                        });
                                    }
                                } else {
                                    $("#message").attr('class', 'alert alert-block alert-error');
                                    $("#message").html(result['message']);
                                    generateGrid([]);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                $("#message").attr('class', 'alert alert-block alert-danger');
                                $("#message").html(errorThrown);
                                generateGrid([]);
                            }
                        });

            } else {
                $("#message").attr('class', 'alert alert-block');
                $("#message").html("Please input your SQL");
            }

        }

        function clear(e) {
            var editor = $("#editor");
            editor.val("");
        }

        function showserver(e) {
            window.open(sparksqlserver_webui_url, '_blank');
        }

        function showhistory(e) {
            window.location = "#/sparksqlweb/history";
        }

    });

</script>


</div>
