<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--database & tables-->
      <p>

      <div>Hive Tables:</div>
      <p>

      <div id="tables" style="height: 300px; overflow: scroll;"></div>
      <p>

      <div id="selected_table" style="font-weight:bold; color: darkred">mvdw.olap_report</div>
      <p>

      <div>Partitions:</div>
      <div id="partitions" style="height: 500px;"></div>
      <p>

      <!--<div>Table Schema:</div>-->
      <!--<div id="columns" style="height: 400px;"></div>-->
    </div>
    <div class="span9" id="tabstrip">
      <ul>
        <li class="k-state-active">SQL Query</li>
        <li>Sample</li>
        <li>Schema</li>
      </ul>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var ts = $("#tabstrip").kendoTabStrip({
      animation: {open: {effects: "fadeIn"}},
      contentUrls: [
        '/assets/partial/sparksqlquery.html',
        '/assets/partial/tablesamplerows.html',
        '/assets/partial/tableschema.html',
      ]
    }).data('kendoTabStrip');

    ts.tabGroup.on('click','li',function(e){
      ts.reload($(this));
    })
  });
</script>

<script>
  var serviceRoot = "/rest/webhcat";

  function onSelect(e) {

    // table node, list partitions and show columns
    if (this.parent(e.node)) {

      var table_name = this.text(e.node);
      var db_name = this.text(this.parent(e.node));

      $("#selected_table").text(db_name + "." + table_name);

      var columns = $("#columns").data("kendoGrid");
      columns.dataSource.transport.options.read.url = serviceRoot + "/columns?db_name=" + db_name + "&table_name=" + table_name;
      columns.dataSource.read();

      var partitions = $("#partitions").data("kendoGrid");
      partitions.dataSource.transport.options.read.url = serviceRoot + "/partitions?db_name=" + db_name + "&table_name=" + table_name;
      partitions.dataSource.read();

    }

  }

  var tables = {
    transport: {
      read: {
        url: serviceRoot + "/tables",
        dataType: "json"
      }
    },
    schema: {
      model: {
        id: "table_name",
        hasChildren: false
      }
    }
  };
  var dbs = new kendo.data.HierarchicalDataSource({
    transport: {
      read: {
        url: serviceRoot + "/databases",
        dataType: "json"
      }
    },
    schema: {
      model: {
        id: "db_name",
        hasChildren: true,
        children: tables
      }
    }
  });

  $("#tables").kendoTreeView({
    dataSource: dbs,
    dataTextField: ["db_name", "table_name", "partition_name"],
    select: onSelect
  });

  var partitionsGrid = $("#partitions").kendoGrid({
    dataSource: {
      transport: {
        read: serviceRoot + "/partitions?db_name=mvdw&table_name=olap_report",
        dataType: "json"
      },
      error: function(e){
        console.log("error when getting partition ");
        $('#partitions').data().kendoGrid.destroy();
        $('#partitions').empty();
      }
    },
    resizable: true,
    columns: [
      {
        field: "partition_name",
        title: "Partition Name",
        width: 260
      }
    ]
  });

</script>


</div>
